.app-footer{
  height: 80px;
  width: 100%;
  padding: 32px 60px;
  background: linear-gradient(329.54deg, #E23814 0%, #E23814 100%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
}

.app-footer img {
  width: 60px;
}

.app-footer .app-footer-nav{
  width: 978px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app-footer .app-footer-nav a{
  color: #fff;
  text-decoration: none;
}

.app-footer .app-footer-nav a:hover{
  filter: brightness(70%);
}